.section-right{
  width:75%;
  background-color: #fef7f6;
  display: flex;
  flex-direction: column;
  height: 100vh;
  right: 0;
  position: fixed;
}

nav ul{
  display: flex;
  height: 3rem;
  align-items: center;
  border-bottom: #dbdadb solid 1px;
}

nav li{
  padding:.9rem 1.5rem;
}

nav li:hover{
  color: #f93821;
  border-bottom: solid;
  /* padding: .5rem; */
}

.discography{
  margin-top: 16rem;
  width: 100%;
  position: fixed;
  opacity: 1;
  z-index: 3;
  background-color: #fef7f6;
}
