.artist-image{
  height: 35%;
  background-image: url('../../assets/artist-image.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 2rem;
  position: fixed;
  width:100%;
  opacity: 1;
  background-color: #fef7f6;
  z-index: 0;
}

.new-album-announcement{
  color: #ffffff;
  font-size: 1rem;
}

.album-name{
  color: #f93821;
  font-size: 2rem;
}

.album-artist{
  font-size: 1.5rem;
  color: #ffffff;
}